<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class='top-page-header'>
  <div class='search-bar-contents'>
    <%= link_to image_tag("furima-logo-color.png", class:"furima-icon"), "/" %>
   
  </div>
  <div class='nav'>
   
    <ul class='lists-right'>
      <% unless corporation_signed_in? || customer_signed_in? %> 
        <li><%= link_to '企業様ログイン', new_corporation_session_path, class: "login" %></li>
        <li><%= link_to 'お客様ログイン', new_customer_session_path, class: "login" %></li>
        <li><%= link_to 'お客様新規登録', new_customer_registration_path, class: "sign-up" %></li>
      <% end %>
        <% if corporation_signed_in? %>
          <li><%= link_to 'ログアウト', destroy_corporation_session_path, method: :delete, class: "logout" %> </li> 
        <% end %>
        <% if customer_signed_in? %> 
          <li><%= link_to current_customer.name, root_path, class: "user-nickname" %> </li> 
          <li><%= link_to 'ログアウト', destroy_customer_session_path, method: :delete, class: "logout" %> </li>  
        <% end %> 
    </ul>
  </div>
</header>