<div class='chat-room-form'>
  <h1>カート</h1>
  <%=form_with model: @cart, local: true do |f|%>
    
    <div class='chat-room-form__field'>
    </div>
    <div class='chat-room-form__field'>
      <div class='chat-room-form__field--left'>
        <label class='chat-room-form__label' for='chat_room_チャットメンバー'>商品</label>
      </div>
      <div class='chat-room-form__field--right'>
      
        <select name="cart[item_ids][]">
          <option value="">商品を選択してください</option>
          <% @items.each do |item| %>
            <option value=<%= item.id %>><%= item.name %><%= item.price %>円</option>
          <% end %>
        </select>
        

        <select name="cart[item_ids][]">
          <option value="">商品を選択してください</option>
          <% @items.each do |item| %>
            <option value=<%= item.id %>><%= item.name %><%= item.price %>円</option>
          <% end %>
        </select>
      
      
      
      </div>
    </div>
    <div class='chat-room-form__field'>
      <div class='chat-room-form__field--left'></div>
      <div class='chat-room-form__field--right'>
        <%= f.submit class: 'chat-room-form__action-btn'%>
      </div>
    </div>
  <% end %>
</div>
