<%= render "shared/header" %>
<div class='main'>


  
    <div class='item-contents'>
    <h2 class='title'>商品一覧</h2>
    <%= link_to '野菜', "#", class: "subtitle" %>
    <ul class='item-lists'>
      <% @vegetable.each do |item| %>
          <%= render partial: "item", locals: { item: item }%>
      <% end %>
     </ul> 
  
    <%= link_to '肉', "#", class: "subtitle" %>
    <ul class='item-lists'>
      <% @meat.each do |item| %>
      <%= render partial: "item", locals: { item: item }%>
      <% end %>
    </ul> 

      <%= link_to '魚', "#", class: "subtitle" %>
      <ul class='item-lists'>
      <% @fish.each do |item| %>
      <%= render partial: "item", locals: { item: item }%>
      <% end %>
      </ul> 
    <%= link_to '果物', "#", class: "subtitle" %>
      <ul class='item-lists'>
      <% @fruit.each do |item| %>
      <%= render partial: "item", locals: { item: item }%>
      <% end %>
      </ul>

    <%= link_to '乳製品', "#", class: "subtitle" %>
    <ul class='item-lists'>
      <% @milk.each do |item| %>
      <%= render partial: "item", locals: { item: item }%>
      <% end %>
    </ul>

    <%= link_to 'お菓子', "#", class: "subtitle" %>
    <ul class='item-lists'>  
      <% @snack.each do |item| %>
      <%= render partial: "item", locals: { item: item }%>
      <% end %>
    </ul>

    <%= link_to '惣菜', "#", class: "subtitle" %>
    <ul class='item-lists'> 
      <% @souzai.each do |item| %>
      <%= render partial: "item", locals: { item: item }%>
      <% end %>
    </ul>
    <%= link_to '飲み物', "#", class: "subtitle" %>
    <ul class='item-lists'>   
      <% @drink.each do |item| %>
      <%= render partial: "item", locals: { item: item }%>
      <% end %>
    </ul>
    <%= link_to 'その他', "#", class: "subtitle" %>
    <ul class='item-lists'>   
      <% @other.each do |item| %>
      <%= render partial: "item", locals: { item: item }%>
      <% end %>
    </ul>
    <% if customer_signed_in?%>
    <%= link_to "カートのページに行く", cart_path(current_cart.id)%> 
     <% end %>

    
   
  </div>

  

</div>
<% if corporation_signed_in?%>
  <%= link_to(new_item_path, class: 'purchase-btn') do %>
    <span class='purchase-btn-text'>出品する</span>
    <%= image_tag 'icon_camera.png' , size: '185x50' ,class: "purchase-btn-icon" %>
  <% end %>
<% end %>
